@import "~materialize-css/dist/css/materialize.min.css";

input.custom-input {
  border-bottom: 1px solid black!important;
  box-shadow: 0 1px 0 0 black!important;
}

input.custom-input + label {
  color: black!important;
}

input.custom-input:focus + label {
  color: purple!important;
}

input.custom-input:focus {
  border-bottom: 1px solid purple!important;
  box-shadow: 0 1px 0 0 purple!important;
}

input.custom-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: x-small;
  opacity: 1; /* Firefox */
}

.card-title {
  padding-bottom: 10%;
}

a {
  color: teal;
}
